@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner">
    <div class="bannerText">
        <h1>Sommerhuse til dine feriedrømme</h1>
        <h2>Tusindvis af sommerhuse og ferieboliger i Europa</h2>
    </div>
</div>