@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<sript src="/wwwroot/js/site.js"></sript>

<div class="banner">
    <div class="bannerText">
        <h1>Sommerhuse til dine feriedrømme</h1>
        <h2>Tusindvis af sommerhuse og ferieboliger i Europa</h2>
        <div class="mainMenues">
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn">Dropdown</button>
              <div id="place" class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">yo</a>
                <a href="#contact">Contact</a>
              </div>
            </div>
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn" id="smallDropdown">Dropdown</button>
              <div id="persons" class="dropdown-content">
                <a href="#home">Danmark</a>
                <a href="#about">Sverige</a>
                <a href="#contact">Hvalsø</a>
              </div>
            </div>
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn" id="smallDropdown">Dropdown</button>
              <div id="persons" class="dropdown-content">
                <a href="#home">Danmark</a>
                <a href="#about">Sverige</a>
                <a href="#contact">Hvalsø</a>
              </div>
            </div>
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn" id="smallDropdown">Dropdown</button>
              <div id="persons" class="dropdown-content">
                <a href="#home">Danmark</a>
                <a href="#about">Sverige</a>
                <a href="#contact">Hvalsø</a>
              </div>
            <button id="searchBtn" class="btn-primary">SØG</button>
            </div>
        </div>
    </div>
</div>