/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset to default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Navbar style */
.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-light {
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 2px;
    background-color: #FFFFFF;
    color: #2C2B2B;
}

.nav-links a {
    color: #2C2B2B;
}

.navbar-text-box {
    border-style: hidden;
    border-radius: 2px;
    background-color: #2C2B2B;
}

.nav-links .navbar-text-box a {
    color: #FFFFFF;
}

/* Navbar menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 12px;
}

.menu li {
    padding: 5px 12px;
}

.menu li a {
    color: #2C2B2B;
    font-family: Poppins;
    font-weight: 500;
}

div .logo {
    padding-right: 400px;
}

/* Responsive navbar */
/* Checkbox hack */
ul.nav-links input[type=checkbox] {
    display: none;
}

/* Hamburger menu */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* Applying media queries */
@media (max-width: 1400px) {
    div .logo {
        padding-right: 100px;
    }
}

@media (max-width: 1200px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .navbar-seperator {
        display: none;
    }
}

/* Footer */
.footer-header {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.footer-header-container {
    display: flex;
    justify-content: center;
}

.footer-links-container {
    display: flex;
    justify-content: center;
}

.footer-links li a {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.footer-links li {
    padding: 5px 12px;
    display: inline;
}

.footer-text {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 1em;
    justify-content: center;
    background-color: #2C2B2B;
}

/* Index style */
.banner {
    background-image: url(/img/IndexBanner.jpg);
    background-repeat: no-repeat;
    height: 605px;
    background-size: cover;
    background-attachment: local;
}

.bannerText {
    margin-top: 120px;
    margin: auto;
    width: 1334px;
}

.bannerText h1{
    font-size: 45px;
    font-family: Poppins;
    font-weight: bold;
    padding-top: 135px;
}

.center {
    margin: auto;
    width: 1334px;
}

h2{
    font-size: 27px;
    font-family: Poppins;
    font-weight: 300;
}

.mainMenues{
    margin-top: 200px;
}

#smallDropdown{
    padding-right: 100px;
    padding-left: 30px;
    margin-left: -5px;
}

#smallDropdown:hover {
    box-shadow: 0px 4px 0px 0px rgb(45, 212, 115);
}

#searchBtn {
    margin-left: -4px;
    padding-top: 19px;
    padding-bottom: 21px;
    padding-inline: 90px;
    background-color: #2DD473;
    border: none;
    border-end-end-radius: 7px;
    border-start-end-radius: 7px;
}

#searchBtn:hover {
    background-color: #2CBF6A;
}

#searchBtn:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: none;
}

#searchBtn:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.dropbtn {
    background-color: white;
    color: darkgrey;
    font-family: Poppins;
    padding-right: 440px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 0px;

}

.dropWide{
    padding-left: 15px;
    padding-right: 350px !important;
}

.dropWide:focus{
    outline: none;
}

#placeMenu {
    border-end-start-radius: 7px;
    border-start-start-radius: 7px;
}

#placeMenu:hover{
    box-shadow: 0px 4px 0px 0px rgb(45, 212, 115);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.index-info-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.index-info {
    display: flex;
    justify-content: center;
    padding-right: 150px;
}

.index-info2 {
    display: flex;
    justify-content: center;
}

.index-info-text {
    padding-left: 20px;
}

.titles {
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 500;
}

.hide {
    height: 200px;
}

/*BROWSE*/

.browseContainer {
    margin: auto;
    width: 1364px;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr 3fr;
    padding-top: 100px;
}

.filterRow {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    position: fixed;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.propertyModule {
    border-style: solid;
    border-width: 1px;
    width: 370px;
    /* height: 410px; */
    border-radius: 4px;
    margin-left: 60px;
    display: inline-block;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    border-color: lightgray;
    background-color: white;
}

.propertyHeader {
    display: flex;
    padding-left: 14px;
    padding-top: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 50px;
}

.propertyHeader p {
    color: white;
}

.starImg{
    padding-left: 4px;
    height: 30px;
}

.favoriteIcon {
    margin-left: auto;
    display: inline-block;
    height: 25px;
    padding-right: 14px;
    padding-top: 5px;
}

.moduleImg {
    height: 235px;
    width: 369px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.imageContainer{
    justify-content: center;
}

h3 {
    font-family: Poppins;
    font-size: 24px;
    color: #2dd473;
}

.propertyName {
    padding-left: 14px;
    padding-top: 14px;
    font-size: 18px;
    padding-bottom: 14px;
    margin: 0;
    overflow: hidden;
    height: 62px;
    line-height: 38px;
}

.moduleBottom {
    margin: auto;
    /* padding-left: 50px; */
    /* padding-top: 13px; */
    display: flex;
    border-top: solid;
    border-width: 1px;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    gap: 25px;
    border-color: lightgrey;
    position: relative;
}

.moduleIconContainer {
    
    display: flex;
    flex-direction: column;
}

.moduleIcon {
    height: 25px;
    margin: auto;
}

.moduleBottom p {
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: Poppins;
}

.filterGroup{
    margin-bottom: 40px;
}

.rangeSummary {
    display: flex;
    justify-content: space-between;
}

.custom-control-input.hidden{
    position: absolute;
    opacity: 0;
    padding-right: 20px;
}

.filterGroup.houseTypesGroup {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.selected {
    background-color: #2dd473;
}

.custom-control-label.houseTypeItem {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.backgroundContainer {
    background-color: #f9f9f9;  
}

.form-range::-webkit-slider-thumb {
    background: black;
}

.form-range::-moz-range-thumb {
    background: black;
}

.form-range::-ms-thumb {
    background: black;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #2dd473;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2dd473;
}

input[type=range]::-moz-range-track {
    background: #2dd473;
}

input[type=range]::-ms-fill-lower {
    background: #2dd473;
}

input[type=range]::-ms-fill-upper {
    background: #2dd473;
}

input[type=range]:focus::-ms-fill-lower {
    background: #2dd473;
}

input[type=range]:focus::-ms-fill-upper {
    background: #2dd473;
}

.priceBox {
    position: absolute;
    bottom: 19px;
    right: 0;
    background-color: #2dd473;
    padding: 7px 20px;
    color: #2C2B2B;
    font-family: poppins;
    font-weight: bold;
}

.priceBox p{
    margin: 0;
}
}

/* Selected Property */
.selectedPropertyNavbar {
    background-color: #F5F5F5;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    height: 60px;
}

.propertNavbarUl {
    display: flex;
    align-items: center;
    height: 60px;
    grid-column-start: 2;
    grid-column-end: 4;
    font-weight: 500;
    background-color: #F5F5F5;
    font-family: 'Poppins';
    position: relative;
}

ul.propertNavbarUl li {
    padding-right: 40px;
}

.selectedPropertyNavigationContainer {
    font-family: 'Poppins';
    /* display: grid; */
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding-top: 5px;
    margin: auto;
    width: 833px;
    width: 1323px;
}

.selectedPropertyNavigation {
    color: #ACACAC;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-column-end: 4;
    /* padding-left: 30px; */
}

.raitingContainer {
    margin: auto;
}
}

.selectedPropertyNameContainer {
    font-family: 'Poppins';
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding-top: 25px;
}

.selectedPropertyHeader {
    color: #2DD473;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 500;
    grid-column-start: 2;
    margin-top: 15px;
}

.catalogNumber {
    color: #ACACAC;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 400;
    font-family: Poppins;
    grid-column-start: 2;
}

.facilitiesContainer {
    /* display: flex; */
    /* grid-template-columns: auto auto auto auto auto auto auto auto auto auto; */
    /* gap: 10px; */
    height: 60px;
}

.facilitiesUl {
    display: flex;
    align-items: center;
    height: 90px;
    /* grid-column-start: 12; */
    column-gap: 75px;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #ACACAC;
    justify-content: center;
    padding: 0;
}

.propertyId {
    font-weight: 700;
    color: #2C2B2B;
}

.selectedPropertyDescHeader {
    color: #2C2B2B;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
}

.breadText {
    color: #7C7777;
    font-family: Poppins;
    font-size: 18px;
}

.sustainableIcon {
    position: absolute;
    bottom: -9px;
    right: -21px;
}

.sustainableIcon img{
    height: 40px;
}


/* Login */
    .loginContainer {
    margin: 100px auto;
    width: 544px;
    background-color: #f3f3f3;
    border-top: 5px solid #2dd473;
    font-family: 'Poppins';
}

.loginTop{
    padding: 50px;
    padding-bottom: 10px;
}

.loginContainer h1 {
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
    color: #2dd473;
}

.loginbtn {
    width: 100%;
    height: 50px;
    background-color: #2C2B2B;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

.loginbtn:hover {
    background-color: #2dd473;
}

.loginContainer label{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}

.terms {
    font-size: 10px;
}

.forgotPass {
    text-align: center;
    padding-top: 30px;
}

.opretBruger {
    text-align: center;
    border-top: 1px solid lightgrey;
    padding: 20px 0px;
}

.opretBruger p{
    margin: 0px;
}

.selectedPropContainer{

}

.filterRow.profile {
    font-family: Poppins;
    position: static;
    height: 765px;
}

.favoriteModule {
    margin-left: 60px;
}

.favoriteTitle {
    font-size: 50px;
    margin: 0;
    color: #2dd473;
    font-weight: bold;
    margin-right: 10px;
}

.favoriteSiteIcon {
    height: 45px;
}


.profileInfoTitle {
    margin: 0;
    font-weight: bold;
    margin-top: 30px;
}

.profileInfo{

}

.browseContainerProfile {
    margin: auto;
    width: 1364px;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr 3fr;
    position: relative;
    padding-top: 152px;
}

.favoriteContainer {
    display: flex;
    /* margin-bottom: 50px; */
    position: absolute;
    top: 47px;
    right: 542px;
}

.favoriteContainer.owner {
    right: 372px;
}

.unFavorite{

}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex !important;
    gap: 5px;
}

.p-1.pics{
    padding: 0 !important;
}

.navbar-pos {
    background-color: #f5f5f5;
    margin: auto;
    width: 1323px;
}

.selectedPropertyNavbar {
    background-color: #f5f5f5;
}

.selectedContainer {
    width: 860px;
    /* margin-left: 308px; */
    margin: auto;
    /* margin-left: 300px; */
    position: relative;
    left: -199px;
}

.containerRestaint{
    display: flex;
}

.starImg.sIcon {
    height: 22px;
    padding: 0;
}

.moduleIconContainer p{
    margin: 0;
}

.descContainer {
    margin-top: 64px;
}

.favoriteButton {
    position: relative;
    left: 174px;
    top: -65px;
    margin: auto;
    width: 171px;
}

.favBtn {
    border: 1px solid lightgrey;
    padding: 6px;
    background-color: #2DD473;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-family: poppins;
}

.someyih {
    display: flex;
    font-family: poppins;
    gap: 50px;
    justify-content: center;
}

.uploadHouseContainer {
    width: 500px;
}

.form-group.create{

}

.orderModule {
    width: 345px;
    position: absolute;
    right: 31px;
    top: -80px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-family: "poppins";
}

.orderTop {
    height: 80px;
    background-color: #2DD473;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orderTop p {
    margin: 0;
    font-size: 23px;
    color: white;
    font-weight: bold;
}

#orderTopBot {
    margin-top: 34px;
    margin-right: 68px;
    font-size: 15px;
    font-weight: initial;
}

.orderDetails {
    height: 59px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: white;
}

.orderDetails p {
    margin: 0;
    color: #ACACAC;
    margin-right: 23px;
}

.orderDate {
    height: 170px;
    background-color: #2DD473;
    border-left: 5px solid #6effab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dateFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    font-family: poppins;
}

.dateFlex p{
    margin: 0;
    color: white;
}

.MasterTable {
    width: 1352px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid lightgrey;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px 50px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 50px;
}

.discoverBtn {
    position: relative;
    top: 142px;
    left: 144px;
    z-index: 1;
    margin: auto;
    width: 235px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.discoverLink {
    border: 1px solid lightgrey;
    padding: 10px 10px;
    margin-top: 10px;
    background-color: #2DD473;
    color: white;
    font-family: poppins;
    border-radius: 5px;
}