/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset to default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Navbar style */
.navbar-container {
    display: flex;
    justify-content: center;
}

.navbar-light {
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 2px;
    background-color: #FFFFFF;
    color: #2C2B2B;
}

.nav-links a {
    color: #2C2B2B;
}

.navbar-text-box {
    border-style: hidden;
    border-radius: 2px;
    background-color: #2C2B2B;
}

.nav-links .navbar-text-box a {
    color: #FFFFFF;
}

/* Navbar menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 12px;
}

.menu li {
    padding: 5px 12px;
}

.menu li a {
    color: #2C2B2B;
    font-family: Poppins;
    font-weight: 500;
}

div .logo {
    padding-right: 250px;
}

/* Responsive navbar */
/* Checkbox hack */
input[type=checkbox] {
    display: none;
}

/* Hamburger menu */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* Applying media queries */
@media (max-width: 1400px) {
    div .logo {
        padding-right: 100px;
    }
}

@media (max-width: 1200px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .navbar-seperator {
        display: none;
    }
}

.banner{
    background-image: url(/img/IndexBanner.jpg);
    background-repeat: no-repeat;
    height: 605px;
}

.bannerText{
    margin-left: 275px;
    position: absolute;
    margin-top: 150px;
}

h1{
    font-size: 45px;
    font-family: Poppins;
    font-weight: bold;
}

h2{
    font-size: 27px;
    font-family: Poppins;
    font-weight: 300;
}

.mainMenues{
    margin-top: 200px;
}